.incident
  .incident__date
    .incident__day= incident.created_at.strftime('%A')
    .incident__time= l(incident.created_at, format: :time)
  = link_to admin_incident_path(festival, incident), class: 'incident__summary' do
    .incident__reporter= incident.participant || t('.anonymous')
