.option.oauth-account{data: { provider: account.provider }}
  = icon account.provider, class: 'option-icon'
  .option-name= t(account.provider, scope: 'oauth.providers')
  .option-value= connect_account_link(account)
