= link_to t('.edit'), edit_pitch_path(pitch), class: 'button button-small'
= link_to t('.delete'), pitch_path(pitch), class: 'button button-small', method: :delete, data: { confirm: t('.confirm_delete') }
