%h1.page-title= t('.title')

= form_for @festival, url: admin_festivals_path, html: { class: 'new-festival' } do |form|
  = render 'form', form: form
  = form.submit t('.submit'), class: 'button button--primary'
