.activity-selector
  - activity_selector.each_day do |date, timeslots|
    .activity-selector__day
      %h2.activity-selector__date{data: { date: { short: l(date, format: :short), full: l(date, format: :timetable) } }}
      - timeslots.each do |timeslot|
        .activity-selector__slot
          %h3.activity-selector__time= time_range(timeslot.starts_at, timeslot.ends_at)
          .activity-selector__activities
            = render timeslot.activities
