%label.payment-method
  = form.radio_button :payment_method, payment_method.to_param
  .payment-method__label
    .payment-method__icon
      = inline_icon payment_method.to_param
    .payment-method__name= t(payment_method.to_param, scope: 'payment.methods')
