#{$all-buttons},
.button {
  appearance: none;
  background-color: transparent;
  border: 1px solid $action-color;
  border-radius: $base-border-radius;
  color: $action-color;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $base-font-family;
  font-size: 1em;
  line-height: 1;
  padding: calc(#{$small-spacing} - 1px);
  text-decoration: none;
  transition: all $fast-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:not(:disabled):hover {
    color: $action-color-hover;
    border-color: $action-color-hover;
  }

  &:focus {
    background-color: $focus-outline-color;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.button-primary {
    background-color: $action-color;
    color: $white;

    &:not(:disabled):hover {
      background: $action-color-hover;
      color: $white;
    }

    &:focus {
      @include shadow(0.5);
    }
  }

  > .icon {
    margin: -0.25em;

    &:first-child {
      margin-right: calc(#{$small-spacing} - 0.25em);
    }

    &:last-child {
      margin-left: calc(#{$small-spacing} - 0.25em);
    }
  }
}
