#{$all-buttons},
.button {
  appearance: none;
  background-color: transparent;
  border: 1px solid $action-color;
  border-radius: $base-border-radius;
  color: $action-color;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $base-font-family;
  font-size: 1em;
  line-height: 1;
  padding: calc(#{$small-spacing} - 1px);
  text-decoration: none;
  transition: all $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    background-color: $focus-outline-color;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    background-color: $action-color;
    color: $white;

    &:focus {
      @include shadow(0.5);
    }
  }
}
