%footer.page-footer
  %section.page-footer__section
    %ul.page-footer__links
      %li= link_to t('.code_of_conduct'), code_of_conduct_path, class: 'page-footer__link'
      %li= link_to t('.terms_and_conditions'), terms_and_conditions_path, class: 'page-footer__link'
      %li= link_to t('.privacy'), privacy_path, class: 'page-footer__link'
