.modal__header
  .modal__header-buttons
    = yield
    %button.modal__header-button{data: { action: 'modal#close' }}= icon :close
  %h4.modal__title{data: { target: 'modal.title' }}= local_assigns[:title]
