.modal{data: { controller: ['modal', *Array(local_assigns[:controller])].join(' '), target: local_assigns[:target], action: 'click->modal#close' }}
  .modal__content{data: { target: 'modal.content', action: 'click->modal#click' }}
    = yield
