- content_for :title, t('.title')

%main
  %header.hero
    %h1= t('.title')

  %section.static-page__content.code-of-conduct
    :markdown
      ## Introduction

      ### What is the Code of Conduct?

      The NZIF Code of Conduct (CoC) is a set of boundaries and guidelines that
      we require every participant to agree to during their time at all NZIF
      events and associated environments.

      ### Who does it apply to?

      Our CoC applies to everyone participating in festival events in any
      capacity: this includes workshop attendees, performers, teachers,
      directors, festival staff, production crew and volunteers.

      It does not apply to staff employed by our event venues (e.g. BATS, Full
      Swing, various bars); however, we expect these venues to treat our
      participants respectfully and professionally, and we will absolutely go in
      to bat for you if you have a negative experience.

      ### When does it apply?

      If you are a participant as above, the COC applies to you from the time
      you arrive at the festival until the time you go home. It applies when you
      are engaging in promotion on behalf the festival, during production times,
      workshops, performances, social events and networking. It applies while
      you are staying in accommodation provided by the festival. Basically, if
      the interaction you’re having would not be happening if the festival
      didn’t exist, the CoC applies.

      ### Why do we have it?

      It is our responsibility as festival organisers to provide a safe space
      for all participants, and to have rules and systems in place to manage any
      situation that threatens that safety. We first introduced our Code of
      Conduct at NZIF 2015 in response to a growing movement among festivals and
      conventions, recognising that participants and audience have the right to
      expect to be treated with respect and decency by festival organisers,
      co-attendees, venue staff, audience, and anyone else they come in contact
      with during this event.

      In terms of our guidelines relating to onstage and workshop behaviour:
      improvisation is a collective art form and one that requires a great deal
      of trust. When you’re working with your company, ensemble, troupe or
      friends in your hometown, you have time to get to know each other — your
      limits, your tendencies, your habits good and bad — and you have time to
      grow this trust.  At NZIF we are coming together in an environment that
      shortcuts that trust’s development, and this can be a recipe for
      misunderstanding, hurt, and occasional disaster. By asking all
      participants to agree to this COC and opening the conversation about our
      boundaries, we hope to minimise the chance of disaster and maximise the
      chance of a jolly good time.

      **Remember:** How you prefer to work in your own creative practice is
      entirely up to you — you know your audience, your stage partners, and your
      personal boundaries and goals. We simply ask that while you are at NZIF
      you respect the boundaries we have set in place.

      ## The Code

      The New Zealand Improv Festival is governed by the New Zealand
      Improvisation Trust. Our principles, as laid out in our trust deed:

      > **3.** The Trust is committed to
      >
      > > **3.1.** supporting, creating and presenting work that is accessible,
      > > diverse, and respectful of our practitioners and our audience; and
      > >
      > > **3.2.** maintaining the highest standards of professionalism and
      > > integrity.

      NZIF therefore asks all participating in our workshops, performances,
      networking and social events to commit to these principles, to respect
      each other and our audience, and to maintain professionalism and
      integrity. We are all ambassadors of our community and should behave
      accordingly.

      In addition we are dedicated to providing a harassment-free experience for
      everyone, regardless of gender, gender identity and expression, sexual
      orientation, race, age, ethnicity, disability, physical appearance, body
      size, and/or religion. We do not tolerate harassment of festival
      participants in any form.

      Harassment includes, but is not limited to: offensive verbal comments that
      reinforce social structures of domination (related to gender, gender
      identity and expression, sexual orientation, disability, physical
      appearance, body size, race, or religion) deliberate intimidation,
      stalking, or following harassing photography or recording sustained
      disruption of talks or other events inappropriate physical contact
      unwelcome sexual attention advocating for, or encouraging, any of the
      above behavior.

      Participants asked to stop any harassing behaviour are expected to comply
      immediately. If a participant engages in harassing behaviour, the
      organisers retain the right to take any actions to keep the event a
      welcoming environment for all participants, including warning the offender
      or expulsion from the event. Organisers may take action to redress
      anything designed to, or with the clear impact of, disrupting the event,
      or making the environment hostile for any participants.

      All communication should be appropriate for a professional audience
      including people of many different backgrounds. This applies both to
      performance and teaching. We are aware that you are working in the moment
      and that sometimes inappropriate things come out (especially in
      workshops), and sometimes audience suggestions will be less than savoury.
      We trust that you will use your professional judgement as teachers and
      performers to ensure the work we present does not become inappropriate or
      harmful. Remember, you are not obliged to accept audience suggestions that
      do not inspire you or that will lead to work that falls outside of these
      guidelines.

      When onsite at any festival venue (BATS Theatre and Lumen, social events
      at bars, workshops/events at any other venue) attend safety briefings
      where relevant, adhere to all safety guidelines, and follow any and all
      instructions given by venue management and festival staff. Respect the
      alcohol license at BATS and other venues. Be on time and prepared for
      shows, call times, and workshops. Respect the facilities. Report any
      hazards or accidents promptly and honestly. Be a good neighbour. Make the
      festival look good.

      All reports will be kept confidential unless otherwise agreed. When
      reporting a breach you are welcome to include a support person at any
      stage (and they do not have to be involved in the festival).

      Consequences for breaching the Code of Conduct will be commensurate with
      the severity of the situation, and may include: apologies to affected
      parties, fines where financial loss has been incurred, exclusion from
      events, removal from the festival without refund, and being directed not
      to return in future. All decisions with regards to such situations are at
      the sole discretion of the festival organizers.

      Thank you for helping make this a welcoming, friendly event for all.

      ## Making a report

      If someone makes you or anyone else feel unsafe or unwelcome, please
      report it as soon as possible. You may do so to any of the festival staff
      (full contact info available from
      [the Code of Conduct page](/code-of-conduct)
      on the [NZIF registration website](http://nzif.info).
      You can make a report in person or anonymously.

      ### Personal report

      You can make a personal report by:

      * Calling or messaging one of the organisers listed above, including the
        festival phone (staffed by various festival team members).
      * Speaking to an organiser, identified by their green lanyards.

      When taking a report in person, our team will ensure you are safe and
      cannot be overheard. They may involve other team members to ensure your
      report is managed properly. Once safe, we’ll ask you to tell us about what
      happened. This can be upsetting, but we’ll handle it as respectfully as
      possible, and you can bring someone to support you. You won’t be asked to
      confront anyone and we won’t tell anyone who you are.

      ### Anonymous Report

      You can make an anonymous report using the form available from
      [the Code of Conduct page](/code-of-conduct)
      on the [NZIF registration website](http://nzif.info).
      We can’t follow up an anonymous report with you directly, but we will
      fully investigate it and take whatever action is necessary to prevent a
      recurrence.

      Our team will be happy to help you contact venue security, local law
      enforcement, support services, provide escorts, or otherwise assist you to
      feel safe for the duration of the event. We value your attendance.

      ## Handling a report

      All reports will be taken seriously, and managed with discretion and
      anonymity where requested.

      Upon receiving a report we will:

      1. Create an incident report in our records
          1. Check for any linked reports (similar behaviour, same names)
      2. Check with reporter as to their preferences for next steps
        (anonymity, no action, a mediated meeting, etc)
      3. Where action is required, we will contact the involved party/s by the
         contact information provided in registration and advise
          1. that we have received a report
          2. (If contacting via email) that we would like to arrange a meeting
          3. a brief outline of the intended course of action
      4. Take action as necessary following the communication with involved
         parties
      5. Follow up with reporter if anonymity is not a factor.

      If outside agencies are involved at any stage we will defer to their
      expertise.

      ## Interpreting the CoC

      Here’s some guidelines about how you can honour the COC in all the
      different spaces across the festival. At all times, keep each other safe.

      ### Workshops

      * Turn up on time and properly prepared for the workshop.
      * Don’t turn up drunk or otherwise inebriated. If you’re hungover and your
        state is likely to impact other participants, make a call about whether
        your attendance is a good idea. You may be able to participate as an
        observer — ask your teacher.
      * Ask for consent before engaging physically with your classmates.
      * Feel empowered to bring up anything that makes you uncomfortable during
        the workshop to the teacher, either in the moment or afterwards.
      * Listen with an open mind if something you say or do makes someone else
        uncomfortable and follow any directions given to you by your teacher.
      * Be each other’s advocates. If you sense that someone is uncomfortable,
        see if you can help. Respect their wishes whether they want help or not.
      * Pay attention to any and all safety briefings and information. Respect
        the facilities. Report any damage or accidents to your teacher.
      * Teachers/workshop facilitators: you are responsible for the safety of
        your students while you are leading the workshop. Respect their
        contributions and boundaries, and provide space for communication.
        Report any incidents in a timely manner.

      ### Performances

      * Turn up on time for all safety briefings, call times and production
        requirements.
      * Do not arrive drunk or otherwise inebriated. Directors and festival
        staff reserve the right to deny you stage time should you be unable to
        perform for this reason.
      * Pay attention to any and all safety briefings and information. Respect
        the facilities. Report any damage or accidents to your director.
      * Respect the audience and your fellow players. Check in before the
        performance regarding each other’s physical and emotional limits. Double
        check with the director about their vision for the content. Respect
        these limits.
      * Look after each other onstage. Trust your instincts. If something
        doesn’t feel right, change it. It’s improv.
      * Feel empowered to bring up anything that makes you uncomfortable during
        the show to the director or your stage partner.
      * Listen with an open mind if something you say or do makes someone else
        uncomfortable.
      * Directors: You are responsible for your cast and performance. Make sure
        everyone is familiar and comfortable with each other’s limits before the
        show, and that everyone shares the same vision for the work.
      * Audience: Be a good audience member. Let non-improvisors give ask fors.
        Don’t heckle. Don’t get super drunk. Enjoy the show.

      ### Forum

      * Be on time (and if you can’t be on time enter politely!)
      * If you’re asked to speak or facilitate a panel, recognise that this is a
        privilege that comes with responsibility.
      * If you think there is someone better placed to facilitate or contribute,
        let us know!
      * Feel empowered to bring up anything that makes you uncomfortable during
        the workshop to the forum facilitator or speakers, either in the moment
        or afterwards.
      * Listen with an open mind if something you say or do makes someone else
        uncomfortable and follow any directions given to you by the forum
        facilitator.

      ### Social Events and other non-structured environments

      * There’s eight whole days to get through. Pace yourself. Drink
        responsibly.
      * Respect and listen to the venue staff and festival staff.
      * Don’t break anything. We want to be invited back.
      * If you see someone on the outer, bring them into the fun. If they’re
        happy where they are, great.
      * Respect people’s physical boundaries. There’s a lot of huggers in improv
        land but that’s not everyone’s cup of tea. Some people have a short list
        of hug buddies and everyone else is off limits, some people are all
        hugs, all the time. Always ask first!
      * Look after each other. Help one another get home safe.
      * Under no circumstances bring your own alcohol or other substances into
        BATS or any other licensed venue.

    = last_updated File.mtime(__FILE__)
