main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: $small-spacing $base-spacing 0 2.5em;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $secondary-font-color;

    .icon {
      @include size(1em);
      margin-right: 1em;
    }
  }
}
