.page-title,
.filters {
  @include screen-only;
}

.pitches {
  margin-top: $base-spacing;
  border-top: $base-border;
}

.pitches--empty {
  padding: 10vh $base-spacing;
  color: $secondary-font-color;
  text-align: center;
}

.pitch {
  display: flex;
  align-items: flex-start;
  padding: 0.5em 1em;
  border-bottom: $base-border;
  text-decoration: none;
  color: inherit;
  page-break-inside: avoid;

  &:hover {
    color: inherit;
    background: $pale-grey;
  }

  &:focus,
  &:active {
    outline: none;
  }

  [type="checkbox"] {
    display: none;
  }
}

.pitch__name {
  flex: 1;
  margin: 0 $small-spacing 0 2em;

  .check-box-field-icon + & {
    margin-left: 1em;
  }
}

.pitch__presenter,
.pitch__extra {
  color: $secondary-font-color;
  font-size: modular-scale(-1);
}

.pitch__type {
  @include all-caps;
  color: $secondary-font-color;
  font-size: modular-scale(-1);
}

.pitch-response {

}

.pitch-response__header,
.pitch-response__section {
  margin: 0 $base-spacing 0 $keyline;
  padding: $base-spacing 0;
}

.pitch-response__piles {
  margin-top: $small-spacing;
  padding: 0;
}

.pitch-response__pile {
  border: 0;
}

.pitch-response__activity-name {
  font-size: modular-scale(3);
  line-height: modular-scale(1);
}

.pitch-response__section {
  border-top: $base-border;
}

.pitch-response__question {
  margin: $base-spacing 0 $small-spacing;
  color: $secondary-font-color;
  font-size: modular-scale(-1);
  font-weight: $base-font-weight;
}

.pitch-response__answer {
  margin: 0;
  padding: 0;
}

.convert-pitches {
  .button--primary {
    margin-left: $keyline;
  }
}
