.registration-details {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    flex: 1 0 4.5em;
  }

  section {
    padding: $base-spacing $base-spacing $base-spacing $keyline;
    position: relative;

    h2 {
      font-size: modular-scale(2);
      font-weight: $light-font-weight;
    }

    .activity-count {
      color: $secondary-font-color;

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }

    section {
      padding: 0;

      &:not(:last-child) {
        margin-bottom: $base-spacing;
      }
    }
  }

  .registration__summary {
    .page-title {
      padding: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  .tabs {
    @include sticky-header;
    margin: 0;
    padding-left: $keyline - .75em;
  }

  .registration__activities {
    display: none;

    &[aria-selected='true'] {
      display: block;
    }
  }

  .registration__slot {
    margin: $base-spacing 0 0;
    font-weight: $base-font-weight;
    color: $secondary-font-color;
    font-size: modular-scale(0);
  }

  .registration__activity-list {
    margin-left: -$keyline;
    margin-right: -$base-spacing;
  }

  .registration__activity {
    display: flex;
    max-width: 100%;
    align-items: center;
    padding: .5em 1em;
    position: relative;

    &:hover {
      background-color: $ghost-grey;
    }

    .activity__position {
      @include size(2em);
      flex: 0 0 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $secondary-font-color;
      border-radius: 50%;
      margin-left: .5em;
      margin-right: 1em;
    }

    &--allocated .activity__position {
      border-color: $apple;
      background: $apple;
      color: $white;
    }

    &--waitlisted .activity__position {
      border-color: $grape;
      background: $grape;
      color: $white;
    }

    .activity__details {
      flex: 1 1 0;
      min-width: 0;
      font-size: modular-scale(-1);
    }

    .activity__name,
    .activity__presenters {
      @include ellipsis;
      display: block;
    }

    .activity__actions {
      display: flex;
      align-items: center;
      padding-right: .5em;

      .button {
        @include size(2em);
        padding: .25em;
        border: none;
        background: $action-color;
        color: $white;
        margin-left: .5em;
      }

      .activity__add {
        background: $apple;
      }

      .activity__waitlist {
        background: $grape;
      }

      .button__icon {
        margin: 0;
      }
    }

    .activity__remove {
      display: none;
    }

    &--allocated {
      .activity__remove {
        display: block;
      }

      .activity__add,
      .activity__waitlist {
        display: none;
      }
    }

    @media (min-width: 30em) {
      .activity__actions {
        display: none;
      }

      &:hover {
        .activity__actions {
          display: flex;
        }
      }
    }
  }
}

.registration__buttons {
  order: 1;
  position: sticky;
  bottom: 0;
  padding: $small-spacing $base-spacing;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
