SSL_KEY_PATH: /path/to/localhost.key
SSL_CERT_PATH: /path/to/localhost.crt
FACEBOOK_KEY: '[Facebook application key]'
FACEBOOK_SECRET: '[Facebook application secret]'
GOOGLE_KEY: '[Google application key]'
GOOGLE_SECRET: '[Google application secret]'
TWITTER_KEY: '[Twitter application key]'
TWITTER_SECRET: '[Twitter application secret]'
