- content_for :title, t('.title')

%header.hero
  %h1= t('.title', festival: festival)

- if logged_in? && current_participant.admin?
  %section.calendar__instructions
    = copy_to_clipboard(personalised_calendar_url(current_participant, format: :ics)) do
      = personalised_calendar_url(current_participant, format: :ics)

= render calendar
