.payment-processing{data: { controller: 'wait', 'wait-interval': 1000 }}
  = inline_icon :cart_spinner, width: 72, height: 72, class: 'payment-processing__icon'
  %h1.payment-processing__title Please wait…
