= form_for schedule, url: admin_schedules_path(festival), html: { data: { target: 'admin--schedule.form', action: 'admin--schedule#submit' } } do |form|
  = form.hidden_field :activity_id, data: { target: 'admin--schedule.activityId' }
  = form.text_field :starts_at, value: form.object.starts_at&.iso8601, data: { target: 'admin--schedule.startTime' }
  = form.text_field :ends_at, value: form.object.ends_at&.iso8601, data: { target: 'admin--schedule.endTime' }
