.page-footer {
  @include full-width;
  @include vertical-padding($base-spacing);
  align-items: flex-start;
  background: $medium-grey;
  color: $white;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

.page-footer__section {

}

.page-footer__links {
  display: block;
  font-size: modular-scale(-1);
}

.page-footer__link {
  color: $white;
  opacity: 0.625;
  text-decoration: none;
  transition: opacity $fast-duration $base-timing;

  &:hover {
    color: $white;
    opacity: 1;
    border-bottom: 0.25em solid $accent-color;
  }
}
