body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;

  > section {
    @include full-width;
    @include vertical-padding($base-spacing);

    &:not(:first-of-type) {
      border-top: $base-border;
    }
  }
}

header.hero {
  @include full-width;
  @include vertical-padding($base-spacing);
  background: linear-gradient(to bottom right, $mandarin, $tomato);
  color: $white;

  h1 {
    font-family: $base-font-family;
    font-size: modular-scale(4);
    font-weight: 100;
    text-transform: none;

    &:last-child {
      margin: 0;
    }

    @media(screen and min-width: #{$line-width / 2}) {
      font-size: modular-scale(5);
    }

    @media(screen and min-width: #{$line-width}) {
      font-size: modular-scale(6);
    }
  }

  button,
  .button {
    color: white;
    border-color: white;

    &:hover {
      color: white;
      border-color: white;
      background-color: rgba(white, 0.15);
    }
  }
}
