@mixin horizontal-margin($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin horizontal-padding($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin vertical-margin($margin) {
  margin-bottom: $margin;
  margin-top: $margin;
}

@mixin vertical-padding($padding) {
  padding-bottom: $padding;
  padding-top: $padding;
}

@mixin full-width {
  @include horizontal-padding($base-spacing);

  @media (screen and min-width: #{$line-width + $base-spacing * 2}) {
    @include horizontal-padding(calc((100vw - #{$line-width}) / 2));
  }
}

@mixin center-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin screen-only {
  @media print {
    display: none;
  }
}

@mixin sticky-header {
  @include horizontal-margin(-$base-spacing);
  @include horizontal-padding($base-spacing);
  position: sticky;
  top: 0;
  background: rgba($white, .90);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1;
}
