.navbar {
  @include full-width;
  height: 3.5rem;
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  background: $dark-grey;
  color: $white;

  &::before {
    content: '';
    flex: 1;
    order: 0;
  }

  > :first-child {
    margin-left: -$small-spacing;
  }

  > :last-child {
    margin-right: -$small-spacing;
  }
}

.navbar__link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0 $small-spacing;
  transition: background-color $fast-duration $base-timing;

  &:hover,
  &:focus,
  &.drop-enabled {
    background-color: $medium-grey;
    color: white;
    outline: none;
  }
}

.navbar__logo {
  color: white;
  font-family: $hero-font-family;
  font-weight: $bold-font-weight;
  font-size: modular-scale(2);
  text-decoration: none;
  order: -1;
}

.navbar__avatar {
  background: rgba($light-grey, 0.5);
  flex: 0 0 auto;
  margin-right: $small-spacing;
}

.navbar__name {
  @include ellipsis;
  display: none;
  flex: 1;
  margin-right: $small-spacing;

  @media(screen and min-width: #{$line-width / 3}) {
    display: block;
  }
}

.navbar__user {
  flex: 0 1 auto;
  display: flex;
  align-items: stretch;
}

.navbar__menu-target {
  min-width: 0;

  .icon-chevron-down {
    flex: 0 0 auto;
    transition: transform $base-duration $base-timing;
  }

  &.drop-enabled {
    .icon-chevron-down {
      transform: rotate(180deg);
    }
  }
}

.navbar__menu {
  @include shadow;
  background: rgba($dark-grey, 0.9);
  color: $white;
  min-width: 15em;
  opacity: 0;
  pointer-events: none;
  touch-action: none;
  transition: all $fast-duration $acceleration-timing;
  transform: translateY(-2em);

  a {
    align-items: center;
    color: $white;
    display: flex;
    justify-content: flex-start;
    padding: $small-spacing;
    text-decoration: none;

    .icon:first-child {
      margin-right: $small-spacing;
    }

    &:hover,
    &:focus {
      background: $medium-grey;
      outline: none;
    }
  }

  .drop-open & {
    opacity: 1;
    pointer-events: auto;
    touch-action: auto;
    transition-timing-function: $deceleration-timing;
    transform: translateY(0);
  }

  .navbar & {
    display: none;
  }
}

.drop-element {
  z-index: 10;
}
