.configuration-options {
  padding-left: 3.5em;

  &:not(:first-child) {
    margin-top: $base-spacing;
  }
}

.configuration-option {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: $small-spacing;
  }

  .icon {
    margin: 0.5em $base-spacing 0.5em 0;
    color: $medium-grey;
  }
}

.configuration-option-name {
  flex: 1;
  padding-top: 0.5em;
}

.configuration-option-value {
}

.oauth-accounts .configuration-options {
  @media(screen and min-width: #{$line-width}) {
    display: flex;
    justify-content: space-between;

    .button {
      margin-left: $base-spacing;
    }
  }
}

.profile-form {
  .profile-avatar {
    label {
      width: 5em;
      font-size: 100%;
      position: relative;
      margin: 0 auto $small-spacing;
    }

    .avatar {
      @include size(5em);
      background: $light-grey;
      color: rgba($white, 0.5);

      .icon {
        transition: opacity $base-duration $base-timing;
      }
    }

    .profile-avatar-upload {
      @include position(absolute, 0 0 0 0);
      @include center-content;
      background: rgba($dark-grey, 0.5);
      border-radius: 50%;
      color: $white;
      cursor: pointer;
      opacity: 0;
      transition: opacity $base-duration $base-timing;
      z-index: 1;

      &:hover {
        opacity: 1;

        + .avatar .icon {
          opacity: 0;
        }
      }
    }

    .upload-progress {
      @include position(absolute, 0 0 0 0);
      z-index: 2;
      pointer-events: none;
      touch-action: none;
      --progress: 0;

      path {
        fill: none;
        stroke: $action-color;
        stroke-width: 4px;
        stroke-dasharray: 100;
        stroke-dashoffset: calc(100 - var(--progress));
      }
    }

    input {
      display: none;
    }
  }

  @media(screen and min-width: 30em) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "avatar details"
      "buttons buttons";
    grid-column-gap: $base-spacing;

    .profile-avatar {
      grid-area: avatar;
      padding-top: $base-spacing;
    }

    .profile-details {
      grid-area: details;
    }

    .form-buttons {
      grid-area: buttons;
    }
  }
}
