.registration-form {
  @include full-width;
  flex: 1;

  &__title {
    margin: 0 0 $base-spacing;
    font-size: modular-scale(3);
    line-height: 2.5rem;
  }

  &__steps {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    padding: $small-spacing 0;
  }

  &__step {
    flex: 1 1 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: modular-scale(-1);
    position: relative;
    text-decoration: none;
    color: $secondary-font-color;

    .step__icon {
      padding: .5em;
      border-radius: 50%;
      background: $pale-grey;
      color: $medium-grey;

      .icon {
        display: block;
      }

      &::before {
        @include position(absolute, 1.25em 50% null -50%);
        z-index: -1;
        height: .25em;
        content: '';
        margin: -.125em 0;
        border-radius: .125em;
        background: inherit;
      }
    }

    &:first-child {
      .step__icon {
        &::before {
          display: none;
        }
      }
    }

    .step__name {
      @include all-caps;
      font-size: modular-scale(-1);
      font-weight: $base-font-weight;
      order: 1;
      padding: .5em 1em;
      text-align: center;
      line-height: modular-scale(1);
    }

    &--complete,
    &--current {
      .step__icon {
        background-color: $accent-color;
        color: $white;
      }

      &:hover .step__name {
        color: $accent-color;
      }
    }

    &--current {
      .step__name {
        color: $accent-color;
      }

      .step__icon {
        box-shadow: 0 0 0 .25em rgba($accent-color, .5);
      }
    }

    &:focus,
    &:active {
      background: none;
      outline: none;

      .step__icon {
        box-shadow: 0 0 0 .25em rgba($accent-color, .25);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: $small-spacing 0;

    &::before {
      content: '';
      flex: 1;
    }

    [rel="prev"] {
      order: -1;
    }

    .button {
      small {
        display: none;
      }
    }
  }

  .scrollable-content {
    max-height: 50vh;
    overflow-y: scroll;
    border: $base-border;
    border-radius: $base-border-radius;
    margin: 0 (-$small-spacing) $base-spacing;
    padding: $small-spacing;
  }

  @media(screen and min-width: #{$line-width * 2 / 3}) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'steps form'
      '. buttons';

    &__form {
      grid-area: form;
      padding: $base-spacing 0;
    }

    &__steps {
      grid-area: steps;
      flex: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      position: sticky;
      top: 0;
      padding: $base-spacing $keyline $base-spacing $small-spacing;
    }

    &__step {
      flex: 0 0 auto;
      flex-direction: row-reverse;
      align-items: center;
      font-size: modular-scale(0);
      padding-bottom: $base-spacing;

      .step__name {
        text-align: right;
      }
    }

    .step__icon {
      margin-right: -1.25em;

      &::before {
        top: -50%;
        bottom: 50%;
        left: auto;
        right: 0;
        height: auto;
        width: .25em;
        margin: 0 -.125em;
      }
    }

    .buttons {
      grid-area: buttons;
    }
  }
}

label[for='registration_code_of_conduct_accepted'] {
  [data-read='false'] {
    display: none;
  }

  [data-read='true'] {
    display: block;
  }

  [type='checkbox']:disabled ~ & {
    [data-read='false'] {
      display: block;
    }

    [data-read='true'] {
      display: none;
    }
  }
}

.activity-selector {
  position: relative;

  &__day {
    margin: 0;
    display: flex;
    flex-direction: column;

    &::before {
      @include size(2.5em, .25em);
      display: block;
      content: '';
      background-color: $accent-color;
    }
  }

  &__date {
    font-size: modular-scale(2);
    font-weight: $light-font-weight;
    background: rgba($white, .95);
    position: sticky;
    top: 0;
    margin: 0 (-$base-spacing);
    padding: $small-spacing $base-spacing;
    z-index: 1;

    &::before {
      content: attr(data-date-short);
    }
  }

  &__time {
    font-size: modular-scale(0);
    font-weight: $base-font-weight;
    color: $secondary-font-color;
    margin: 0 0 $base-spacing;
  }

  &__activities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    grid-column-gap: $base-spacing;
    padding: 0 0 $base-spacing;
  }

  .activity {
    padding: 0 0 $base-spacing;
    flex: 1;
    display: flex;
    flex-direction: column;

    &::after {
      content: '';
      flex: 1;
    }

    &--unavailable {
      opacity: .5;

      .button {
        opacity: 1;
      }

      .activity__photo {
        img {
          filter: grayscale(1);
        }
      }
    }

    &__photo {
      img {
        width: 100%;
        height: 6.5em;
        object-fit: cover;
      }
    }

    &__name {
      font-size: modular-scale(1);
    }

    &__presenters {
      color: $secondary-font-color;
    }

    .button {
      margin: $small-spacing 0 0;
      order: 1;
      font-size: modular-scale(-1);
      justify-content: flex-start;
    }

    .activity__remove {
      display: none;
    }

    &[data-position] {
      .activity__remove {
        display: flex;
      }

      .activity__add {
        display: none;
      }
    }
  }

  .registration-form__cart {
    position: sticky;
    top: 0;
    height: 0;
    z-index: 2;
  }

  .cart {
    @include position(absolute, 0 0 null null);
  }

  @media(screen and min-width: #{$line-width / 2}) {
    &__date {
      &::before {
        content: attr(data-date-full);
      }
    }
  }
}

.cart {
  display: grid;
  grid-template-areas:
    'icon items'
    'icon total';
  grid-column-gap: $small-spacing;
  grid-template-rows: $base-line-height $base-line-height;
  align-items: center;
  padding: .5em 0 .5em $small-spacing;

  &__icon {
    grid-area: icon;
  }

  &__items {
    grid-area: items;
    font-size: modular-scale(-1);
    min-width: 6.5em;
  }

  &__item {
    color: $secondary-font-color;

    &::before {
      content: attr(data-plural);
    }
  }

  &__count {
    &::before {
      content: attr(data-count);
    }

    &[data-count='1'] {
      + .cart__item {
        &::before {
          content: attr(data-singular);
        }
      }
    }
  }

  &__total {
    grid-area: total;
    font-size: modular-scale(-1);
  }
}
