.registration-form {
  @include full-width;
  flex: 1;

  &__title {
    margin: 0 0 $base-spacing;
    font-size: modular-scale(3);
    line-height: 2.5rem;
  }

  &__steps {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    padding: $small-spacing 0;
  }

  &__step {
    flex: 1 1 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: modular-scale(-1);
    position: relative;
    text-decoration: none;
    color: $secondary-font-color;

    .step__icon {
      padding: .5em;
      border-radius: 50%;
      background: $pale-grey;
      color: $medium-grey;

      .icon {
        display: block;
      }

      &::before {
        @include position(absolute, 1.25em 50% null -50%);
        z-index: -1;
        height: .25em;
        content: '';
        margin: -.125em 0;
        border-radius: .125em;
        background: inherit;
      }
    }

    &:first-child {
      .step__icon {
        &::before {
          display: none;
        }
      }
    }

    .step__name {
      font-size: modular-scale(-1);
      font-weight: $base-font-weight;
      order: 1;
      padding: .5em 1em;
      text-align: center;
      line-height: modular-scale(1);

      span {
        display: block;

        &:empty  {
          display: none;
        }
      }
    }

    &--complete,
    &--current {
      .step__icon {
        background-color: $accent-color;
        color: $white;
      }

      &:hover .step__name {
        color: $accent-color;
      }
    }

    &--current {
      .step__name {
        color: $accent-color;
      }

      .step__icon {
        box-shadow: 0 0 0 .25em rgba($accent-color, .5);
      }
    }

    &:focus,
    &:active {
      background: none;
      outline: none;

      .step__icon {
        box-shadow: 0 0 0 .25em rgba($accent-color, .25);
      }
    }
  }

  &__buttons {
    @include sticky-header;
    @include vertical-padding($small-spacing);
    top: auto;
    bottom: 0;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &::before {
      content: '';
      flex: 1;
    }

    [rel="prev"] {
      order: -1;
    }

    .button {
      small {
        display: none;
      }
    }
  }

  .scrollable-content {
    max-height: 50vh;
    overflow-y: scroll;
    border: $base-border;
    border-radius: $base-border-radius;
    margin: 0 (-$small-spacing) $base-spacing;
    padding: $small-spacing;
    -webkit-overflow-scrolling: touch;
  }

  @media(screen and min-width: #{$line-width * 2 / 3}) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'steps form'
      '. buttons';
    align-items: flex-start;

    &__form {
      grid-area: form;
      padding: $base-spacing 0;
    }

    &__steps {
      grid-area: steps;
      flex: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      position: sticky;
      top: 0;
      padding: $base-spacing $keyline $base-spacing $small-spacing;
    }

    &__step {
      flex: 0 0 auto;
      flex-direction: row-reverse;
      align-items: center;
      font-size: modular-scale(0);
      padding-bottom: $base-spacing;

      .step__name {
        @include all-caps;
        line-height: $heading-line-height;
        text-align: right;
      }
    }

    .step__icon {
      margin-right: -1.25em;

      &::before {
        top: -50%;
        bottom: 50%;
        left: auto;
        right: 0;
        height: auto;
        width: .25em;
        margin: 0 -.125em;
      }
    }

    .buttons {
      grid-area: buttons;
    }
  }
}

.registration-form__social {
  .label {
    @include all-caps;
    display: block;
    color: $medium-grey;
    font-size: modular-scale(-1);
  }

  &-links {
    display: flex;
    align-items: center;
    margin-bottom: $small-spacing;

    a {
      padding: .5em;
      border-radius: 50%;
    }
  }
}

.registration-form__participant-details {
  h2 {
    margin-top: $base-spacing;
  }

  .registration_form__new-password {
    background-color: $secondary-background-color;
    font-size: modular-scale(-1);
    padding: $small-spacing;
    border-radius: $base-border-radius;
  }
}

.registration-form__login-details {
  @media screen and (min-width: #{$line-width / 2}) {
    display: flex;
    align-items: flex-start;

    .form-field {
      flex: 1;
    }

    .registration-form__social {
      margin-left: $base-spacing;
    }
  }
}

label[for='registration_code_of_conduct_accepted'] {
  [data-read='false'] {
    display: none;
  }

  [data-read='true'] {
    display: block;
  }

  [type='checkbox']:disabled ~ & {
    [data-read='false'] {
      display: block;
    }

    [data-read='true'] {
      display: none;
    }
  }
}

.activity-selector {
  position: relative;

  &__day {
    margin: 0;
    display: flex;
    flex-direction: column;

    &::before {
      @include size(2.5em, .25em);
      display: block;
      content: '';
      background-color: $accent-color;
    }
  }

  &__date {
    @include sticky-header;
    @include vertical-padding($small-spacing);
    margin-bottom: 0;
    font-size: modular-scale(2);
    font-weight: $light-font-weight;
    z-index: 2;

    &::before {
      content: attr(data-date-short);
    }
  }

  &__time {
    @include sticky-header;
    top: calc(#{modular-scale(2) * strip-unit($heading-line-height)} + #{$small-spacing * 2} - .5px);
    padding-top: 0;
    padding-bottom: $small-spacing;
    font-size: modular-scale(0);
    font-weight: $base-font-weight;
    color: $secondary-font-color;
    margin-top: 0;
    margin-bottom: $small-spacing;
  }

  &__activities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    grid-column-gap: $base-spacing;
    padding: 0 0 $base-spacing;
  }

  .activity {
    padding: 0 0 $base-spacing;
    flex: 1;
    display: flex;
    flex-direction: column;

    &::after {
      content: '';
      flex: 1;
    }

    &__photo {
      img {
        width: 100%;
        height: 6.5em;
        object-fit: cover;
      }
    }

    &__name {
      font-size: modular-scale(1);
      text-decoration: none;
    }

    &__presenters {
      color: $secondary-font-color;
    }

    &__times,
    &__levels {
      order: 1;
      margin-top: $small-spacing;
    }

    &__show-workshop {
      @include all-caps;
      align-self: flex-start;
      font-size: modular-scale(-1);
      font-weight: $base-font-weight;
      margin-top: $small-spacing;
      background-color: $plum;
      color: $base-font-white;
      border-radius: ($base-line-height / 2 * 1rem);
      padding: 0 $small-spacing;
    }

    .button {
      margin: $small-spacing 0 0;
      order: 2;
      justify-content: flex-start;
    }

    .activity__remove {
      display: none;
    }

    .activity__waitlist {
      display: none;
      order: 3;

      .button {
        width: 100%;
      }

      [type="checkbox"] {
        display: none;

        &:checked ~ .activity__waitlisted--no,
        &:not(:checked) ~ .activity__waitlisted--yes {
          display: none;
        }
      }
    }

    &--unavailable {
      opacity: .625;

      &:not(.activity--selected):not(.activity--clash):not(.activity--compulsory) {
        .activity__add {
          display: none;
        }
      }

      .button {
        opacity: 1;
      }

      .activity__photo {
        img {
          filter: grayscale(1);
        }
      }

      &:not(.activity--selected) {
        .activity__waitlist {
          display: block;
        }
      }
    }

    &[data-position] {
      .activity__remove {
        display: flex;
      }

      .activity__add {
        display: none;
      }
    }
  }

  .registration-form__cart {
    position: sticky;
    top: 0;
    height: 0;
    z-index: 3;
  }

  .cart,
  .show-selection__counter {
    @include position(absolute, 0 0 null null);
  }

  @media(screen and min-width: #{$line-width / 2}) {
    &__date {
      &::before {
        content: attr(data-date-full);
      }
    }
  }
}

.cart {
  display: grid;
  grid-template-areas:
    'icon items'
    'icon total';
  grid-column-gap: $small-spacing;
  grid-template-rows: $base-line-height $base-line-height;
  align-items: center;
  padding: .4375em .6875em;
  margin-right: -$small-spacing;
  border-radius: $base-border-radius;
  border: 1px solid transparent;
  user-select: none;

  &:hover {
    border-color: $ghost-grey;
  }

  span {
    transition: opacity $base-duration $base-timing;
  }

  &.cart--loading {
    span {
      opacity: .5;
    }

    .cart__icon {
      .spinner {
        opacity: 1;
      }
    }
  }

  &__icon {
    @include size(2.5em);
    grid-area: icon;

    .spinner {
      transition: opacity $base-duration $base-timing;
      opacity: 0;
    }
  }

  &__items {
    grid-area: items;
    font-size: modular-scale(-1);
    min-width: 6.5em;
  }

  &__item {
    color: $secondary-font-color;

    &::before {
      content: attr(data-plural);
    }
  }

  &__count {
    &::before {
      content: attr(data-count);
    }

    &[data-count='1'] {
      + .cart__item {
        &::before {
          content: attr(data-singular);
        }
      }
    }
  }

  &__total {
    grid-area: total;
    font-size: modular-scale(-1);
  }
}

.cart__summary {
  &.drop-element {
    @include shadow(1);
    background: $pale-grey;
    margin-top: .5em;
    padding: $small-spacing $base-spacing;
    border-radius: $base-border-radius;
    text-align: center;

    &::before {
      @include triangle('up', 1em, .5em, $pale-grey);
      content: '';
      position: absolute;
      right: 50%;
      bottom: 100%;
      margin-right: -.5em;
    }
  }

  .count {
    &::before {
      content: attr(data-count);
    }

    ~ .item {
      &::before {
        content: attr(data-plural);
      }
    }

    &[data-count='1'] {
      ~ .item {
        &::before {
          content: attr(data-singular);
        }
      }
    }
  }

  del {
    color: $tomato;
    display: block;
  }

  .total {
    display: block;
    font-size: modular-scale(2);
    font-weight: $bold-font-weight;
  }
}

.activity__level {
  display: block;

  &::before {
    @include size(1em);
    content: '';
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 2px;
    background-color: $pale-grey;
    vertical-align: text-top;
  }

  @each $level, $color in $level-colors {
    &[data-level='#{$level}']::before {
      background-color: $color;
    }
  }
}

.workshop-selection {
  &__instructions {
    display: flex;
    align-items: flex-start;
    margin-bottom: $base-spacing;

    .button {
      margin-left: $base-spacing;
    }
  }
}

.show-selection {
  .gala-rsvp {
    background: $ghost-grey;
    border-top: .25em solid $accent-color;
    padding: $small-spacing;
    margin: 0 0 $base-spacing;

    .check-box-field-icon {
      background-color: $white;
    }
  }

  &__counter {
    margin-right: -$small-spacing;
    padding: $small-spacing;
    text-align: center;
    color: $secondary-font-color;
  }

  &__count {
    color: $base-font-color;
  }

  &__track,
  &__progress {
    height: .5em;
    border-radius: .25em;
    background: $ghost-grey;
  }

  &__track {
    position: relative;
    width: 8em;
  }

  &__progress {
    @include position(absolute, 0 null 0 0);
    min-width: .5em;
    background: linear-gradient(to right, $tomato, $mandarin);
    transition: width $base-duration $base-timing;
  }
}

.workshop-onboarding {
  .onboard__example {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .activity {
    display: flex;
    align-items: center;
    margin: $small-spacing 0 0;

    .fruit {
      font-size: modular-scale(2);
      margin-right: .5em;
    }

    .button {
      width: 12em;
      margin: 0;
      justify-content: flex-start;
    }

    .activity__remove {
      display: none;
    }

    &[data-position] {
      .activity__remove {
        display: flex;
      }

      .activity__add {
        display: none;
      }
    }
  }
}

.registration-completed {
  @include full-width;
  @include vertical-padding($base-spacing);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: $base-font-family;
    font-size: modular-scale(4);
    font-weight: $light-font-weight;
    text-transform: none;
    text-align: center;
    max-width: 75vw;
  }

  &__message {
    max-width: $line-width / 2;
    text-align: center;
  }

  &__icon {
    margin-bottom: $base-spacing;
    font-size: modular-scale(6);

    circle {
      stroke: $secondary-font-color;
    }

    path {
      stroke: $success-color;
      stroke-dasharray: 100;
      stroke-dashoffset: -100;
      animation: registration-complete .5s $base-timing 1 forwards;
      animation-delay: 1s;
    }
  }
}

@keyframes registration-complete {
  0% { stroke-dashoffset: -100; }
  100% { stroke-dashoffset: 0; }
}

.cart-summary {
  &__table {
    table-layout: auto;

    td {
      white-space: nowrap;

      &:last-child {
        padding-right: 0;
      }
    }

    tr {
      border-bottom: none;
      border-top: 1px solid $pale-grey;
    }
  }

  &__workshop-count {
    .cart-summary__quantity {
      display: block;
      padding-left: $base-spacing;
    }

    @media screen and (min-width: #{$line-width / 2}) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__line-total {
    text-align: right;
    vertical-align: bottom;
  }

  &__item {
    width: 99%;
  }

  .cart-summary__discount {
    .cart-summary__item {
      padding-left: $base-spacing;
    }
  }

  .cart-summary__payment-method {
    padding-left: $base-spacing;

    &.cart-summary__payment-method--pending {
      position: relative;

      &::after {
        @include size(1em);
        @include position(absolute, 50% null null 0);
        margin: -.5em 0;
        content: '';
        background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3d%220%200%2024%2024%20%22%20fill%3D%22none%22%20stroke%3D%22#{$secondary-font-color}%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22/%3E%3Cpath%20d%3D%22M12%206v6l4%202%22/%3E%3C/svg%3E') no-repeat 0 0;
      }
    }
  }

  .cart-summary__subtotal,
  .cart-summary__total {
    border-top: 1px solid $medium-grey;
  }

  .cart-summary__total {
    font-size: modular-scale(1);
    font-weight: $bold-font-weight;
  }
}

.payment-methods {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0 0 $base-spacing;
}

.payment-method {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: $base-border;
  border-radius: $base-border-radius;
  font: inherit;
  color: $base-font-color;
  padding: $small-spacing;
  text-align: center;
  cursor: pointer;
  line-height: $heading-line-height;
  transition: border-color $base-duration $base-timing;

  &:not(:first-child) {
    margin-left: $small-spacing;
  }

  [type='radio'] {
    display: none;
  }

  &__icon {
    @include size(2.5em);
    padding: .5em;
    border-radius: 50%;
    color: $medium-grey;
    background-color: $ghost-grey;
    margin-bottom: $small-spacing;

    .icon {
      display: block;
    }
  }
}

.activity-details {
  .modal__body {
    padding: 1em;
  }

  &__presenters {
    font-size: modular-scale(1);
  }

  &__description {
    margin-top: $base-spacing;
  }

  &__bio {
    color: $secondary-font-color;

    &::before {
      @include size(2em, .25em);
      display: block;
      content: '';
      background-color: $accent-color;
      margin-bottom: $small-spacing;
    }
  }
}

.payment-processing {
  @include full-width;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    @include size(4.5em);
    display: block;
    margin-bottom: $small-spacing;
  }

  &__title {
    font-family: $base-font-family;
    font-size: modular-scale(4);
    font-weight: $light-font-weight;
    text-transform: none;
    text-align: center;
    max-width: 75vw;
  }
}

.internet-banking-instructions {
  margin: 0 0 $base-spacing;
  padding: $small-spacing;
  background: $secondary-background-color;
  border-radius: $base-border-radius;

  dt {
    @include all-caps;
    font-size: modular-scale(-1);
  }

  dd {
    &:not(:last-of-type) {
      margin-bottom: $small-spacing;
    }
  }
}
