%header.hero
  .breadcrumbs
    = link_to t('activity.types.workshop').pluralize, workshops_path, class: 'breadcrumbs__link'
  %h1= t('.title')

- workshops.each do |workshop|
  = render rolls(workshop)
