%h1.registration-form__title= t('.title')

.show-selection{data: { controller: 'workshop-selection cart', action: 'activities:select->workshop-selection#selectionChanged' }}
  = render registration_form.current_step.activities
